RewriteEngine on
RewriteCond %{QUERY_STRING} (.*)
RewriteRule (.*) http://countdown.api.tfl.gov.uk/interfaces/ura/instant_V1?StopPointType=SLRS&LineID=RB1&ReturnList=StopPointName,StopCode2,StopPointState,DirectionID,DestinationText,EstimatedTime&%1 [NE,P]
