RewriteEngine on
RewriteRule (.*) http://countdown.api.tfl.gov.uk/interfaces/ura/instant_V1?StopPointType=SLRS&ReturnList=StopPointName,StopCode2,StopPointState,DirectionID,DestinationText,EstimatedTime&$1 [NE,P]
