
@font-face 
{
    font-family: 'bpdotsunicasesquarelight';
    src: url('assets/BPdotsUnicaseSquareLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



ul.predictions
{
	list-style: none;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 2px;
	height: 130px;
	width: 266px;
	background: #333333;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -65px 0 0 -133px;
	opacity: 0.9;
	border-top: 2px solid #666666;
	border-left: 2px solid #666666;
	border-bottom: 2px solid #202020; 
	border-right: 2px solid #202020; 
	box-shadow: 2px 2px 5px;
}

ul.predictions span
{
	opacity: 1.0;
	color: #999999;
	font-size: 12pt;
	position: relative;
	display: block;
	height: 24px;
	padding-left: 2px;
}

ul.predictions span.status
{
	float: right;
}

ul.predictions ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.predictions ul li
{
	color: #FFCC00;
	font-family: 'bpdotsunicasesquarelight', Helvetica;
	font-size: 18pt;
	font-weight: normal;
	border-top: 2px solid #202020;
	border-left: 2px solid #202020;
	border-bottom: 2px solid #666666; 
	border-right: 2px solid #666666;
	padding-left: 3px;
	padding-right: 3px;
	height: 26px;
	line-height: 20px;
	opacity: 1.0; 
}

ul.predictions ul li span
{
	float: right;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	opacity: inherit;
}
